/* Base Styles */
:root {
    --primary-color: #134266; /* Dark Blue */
    --secondary-color: #3ca4c8; /* Light Blue */
    --accent-color: #e7b7b0; /* Light Coral */
    --text-color: #fff; /* White for high contrast */
    --background-color: #f0f0f0; /* Light background */
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

body.dark-mode p {
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
}

a, .accent {
    font-family: 'Merriweather', serif;
    color: white;
    text-decoration: none;
}

/* Banner Styles */
#banner img {
    width: 100%;
    height: auto;
    display: block;
}

/* Navigation Styles */
#menuBar {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menuBar ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

#menuBar li {
    margin: 0 10px;
}

#menuBar a {
    color: var(--text-color);
    text-decoration: none;
}

#accessibilitySettings i,
#menuToggle i,
#accessibilitySettings span {
    color: var(--text-color);
    cursor: pointer;
}

#accessibilitySettingsContainer,
#darkModeSwitch {
    position: relative;
}

#accessibilitySettings {
    display: flex;
    align-items: center;
}

#accessibilitySettings i {
    margin-right: 5px;
}

#accessibilitySettings:hover span,
#darkModeSwitch {
    display: inline;
}

#darkModeSwitch {
    display: none;
    right: 25px;
    top: 100%;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
}

/* Section Layouts */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    width: 31%;
    margin: 20px 0;
    padding: 10px 25px;
    background-color: var(--text-color);
    color: var(--primary-color);
    transition: transform 0.3s ease;
    border-radius: 35px;
    box-shadow: 15px 20px 8px rgba(0, 0, 0, 0.1), -15px 20px 8px rgba(0,0,0,0.1);
}

section:nth-child(odd) {
    transform: translateX(-5%);
    margin-right: 25%;
}

section:nth-child(even) {
    transform: translateX(5%);
    margin-left: 25%;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: var(--primary-color);
    color: var(--text-color);
}

body.dark-mode #menuBar {
    background-color: var(--secondary-color);
}

body.dark-mode a,
body.dark-mode section {
    color: var(--text-color);
}

body.dark-mode section {
    background-color: var(--secondary-color);
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.5);
}

body.dark-mode #darkModeSwitch {
    background-color: var(--primary-color);
}

/* Footer Styles */
#site-footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px 0;
    font-family: 'Lato', sans-serif;
}

#site-footer .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

#site-footer .footer-links,
#site-footer .footer-social-media {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#site-footer .footer-links li,
#site-footer .footer-social-media a {
    margin: 0 10px;
}

#site-footer .footer-copy {
    font-size: 0.8em;
    width: 100%;
}

.footer-content h3 {
    color: var(--text-color);
}



/* Responsive Design */

/* Max Width 599px Start */
@media screen and (max-width: 599px) {
    section {
        width: 75%;
    }

    section:nth-child(odd) {
        transform: none;
        margin-right: 0;
    }
    
    section:nth-child(even) {
        transform: none;
        margin-left: 0;
    }
}

/* Min Width 600px Start */
@media screen and (min-width: 600px) {
    section {
        width: 75%;
    }

    section:nth-child(odd) {
        transform: none;
        margin-right: 0;
    }
    
    section:nth-child(even) {
        transform: none;
        margin-left: 0;
    }
}

/* Min Width 900px Start */
@media only screen and (min-width: 900px) {

    section{
        width: 75%;
    }

    #site-footer .footer-content {
        padding-left: 0; /* Center content for wider screens */
    }

    #site-footer .container {
        flex-direction: column;
    }
}

/* Min Width 1200px Start */
@media only screen and (min-width: 1200px) {
    section {
        width: 55%;
        transition: transform 0.3s ease;
    }

    section:nth-child(even) {
        transform: translateX(5%);
        margin-left: 25%;

    }

    section:nth-child(odd) {
        transform: translateX(-5%);
        margin-right: 25%;
    }
}

/* Min Width 1800px */
@media only screen and (min-width: 1800px) {
    section {
        width: 60%; /* Adjusted width for clear staggered effect */
        margin: 20px 0;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: var(--text-color);
        color: var(--primary-color);
        transition: transform 0.3s ease; /* Smooth transition for hover effect */
        border-radius: 35px; /* Rounded corners */
    }
    
    section:nth-child(odd) {
        padding-left: 50px;
        padding-right: 25px;
        transform: translateX(-5%); /* Slightly shift odd sections to the left */
        margin-right: 25%;
    }
    
    section:nth-child(even) {
        padding-left: 50px;
        padding-right: 25px;
        transform: translateX(5%); /* Slightly shift even sections to the right */
        margin-left: 25%;
    }
}